source_env "$(asdf direnv _asdf_cached_envrc "$@")"

function path() {
 echo $1:$PATH | awk -v RS=: '!($0 in a) {a[$0]; printf("%s%s", length(a) > 1 ? ":" : "", $0)}'
}

set -a
PATH=$(path $HOME/.local/bin:$GOPATH/bin:$HOME/.krew/bin)
TMPDIR=$HOME/.tmp
GOTMPDIR=$(dirname $GOROOT)/tmp
GOCACHE=$(dirname $GOROOT)/cache
GO111MODULE=on
set +a

mkdir -p $TMPDIR $GOTMPDIR $GOCACHE

# load env from pass
if [ -n "$(command -v pass)" ]; then
  source <(pass nuxeo/nexus/dot-envrc)
  source <(pass coding/github@nuxeo-token| tail +2 | yq eval .env -)
fi
# load host env

hostenv=${BASH_SOURCE}~$(hostname) && [ -f "${hostenv}" ] && source "${hostenv}"

